/*Importing Poppins,Monsterrat,Arvo,GreatVibes,Lobster,Pacifico from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Montserrat&family=Arvo&family=Great+Vibes&family=Lobster&family=Pacifico&display=swap');

/* Apply fonts to elements */
*{
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', sans-serif;
}
h1{
    font-family: "Great Vibes";
}
h1,div{
    color:magenta;
}


body{
    background-color: #310e68;
    background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
    min-height:100vh;
}
header{
    min-height:15vh;
}
main{
    flex:1;
}
footer{
    min-height:15vh;

}
a{
    display:block !important;
    width:50rem !important;
    height:5rem !important;
    margin:2rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: rgb(126, 24, 126) !important;
}
.ct{
    font-family: 'Great VIbes' !important;
    font-weight: bold;
    font-size: 1.5rem;
    color:magenta !important;
}